body {
  font-family: Arial;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

button {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border: none;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}